$white: hsl(226deg, 64%, 88%);
$red: hsl(343deg, 81%, 75%);
$peach: hsl(23deg, 92%, 75%);
$green: hsl(115deg, 54%, 76%);
$sapphire: hsl(199deg, 76%, 69%);
$mauve: hsl(267deg, 84%, 81%);
$blue: hsl(217deg, 92%, 76%);
$lavender: hsl(232deg, 97%, 85%);
$gray: hsl(228deg, 24%, 72%);

$selection-bg: hsla(232deg, 97%, 85%, 0.2);

.code-block {
  padding: 20px;
  line-height: 1.5 !important;
}

code[class*="language-"],
pre[class*="language-"] {
  color: $white;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: $selection-bg;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: $selection-bg;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: $gray;
}

.token.punctuation {
  color: $red;
}

.token.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: $peach;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: $green;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: $sapphire;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: $mauve;
}

.token.function,
.token.class-name {
  color: $blue;
}

.token.regex,
.token.important,
.token.variable {
  color: $lavender;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
