@use "@/styles/variables" as *;

.blog-post {
  padding: 0;
  margin: 40px 0;

  & .cover-container {
    position: relative;
    height: 300px;

    & .cover {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    & .date-container {
      position: absolute;
      bottom: 10px;
      left: 10px;
      background: hsl(var(--hsl-black-light));
      padding: 10px;
      border-radius: 5px;
      color: hsl(var(--hsl-blue));
      font-weight: bold;
      font-size: 12px;

      & .icon {
        margin-bottom: -4px;
        margin-right: 5px;
      }
    }
  }

  & .container {
    padding: 20px;
  }

  & .title {
    font-size: var(--fz-25);
  }

  & .content-container {
    margin-top: 20px;
  }

  & .actions-container {
    display: flex;
    column-gap: 20px;
    margin-top: 20px;
  }

  @media #{$desktop} {
    margin: 40px auto;

    & .cover-container {
      height: 500px;
    }

    & .container {
      background: hsl(var(--hsl-black-light));
    }
  }
}
