@use "@/styles/variables" as *;

$navbar-height: 70px;
/* This variable represents the max height that the menu containings the links have
 max-height is used instead of height because height cannot be animated*/
$max-mobile-menu-height: 300px;

.navbar-wrapper {
  position: relative;
  height: $navbar-height;
  display: flex;
  justify-content: center;
  background: url(/resources/navbar-bg.png);
  background-repeat: repeat-x;
  background-size: cover cover;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: hsla(var(--hsl-black), 0.8);
  }
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  z-index: 2;

  & .bg {
    position: fixed;
    z-index: -1;
    top: $navbar-height;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    visibility: hidden;
  }

  &.active {
    & .bg {
      visibility: visible;
    }

    & .links {
      max-height: $max-mobile-menu-height;
      border-color: hsl(var(--hsl-white-dark));
    }

    & .btn {
      color: hsl(var(--hsl-blue));
      border-color: hsl(var(--hsl-blue));
      background: hsl(var(--hsl-black-lighter));
    }
  }

  & .link-title {
    display: flex;
    column-gap: 10px;
    align-items: center;

    & .title {
      font-size: var(--fz-20);
      color: hsl(var(--hsl-white));
    }
  }

  & .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(var(--hsl-white-dark));
    background: hsl(var(--hsl-black-light));
    border: solid 1px #303030;
    width: 50px;
    height: 40px;
    transition: .3s;
    border-radius: 5px;

    &:hover {
      background: hsl(var(--hsl-black-lighter));
    }
  }

  & .links {
    position: absolute;
    top: $navbar-height;
    left: 0;
    width: 100%;
    max-height: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: solid 1px transparent;
    overflow: hidden;
    transition: .3s;

    & .link {
      display: block;
      padding: 20px;
      background: hsl(var(--hsl-black-light));
      transition: background .3s;

      &:hover {
        background: hsl(var(--hsl-black-lighter));
      }
    }
  }

  @media #{$laptop} {
    & .bg {
      display: none;
    }

    & .btn {
      display: none;
    }

    & .links {
      position: relative;
      top: 0;
      display: flex;
      column-gap: 20px;
      max-height: none;
      border: none;
      width: auto;
      transition: none;

      & .link {
        display: inline-block;
        padding: 0;
        background: transparent;
      }
    }
  }
}
