@use "@/styles/variables" as *;

.navbar-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.presentation-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(/resources/home-bg.webp);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: hsla(var(--hsl-black), 0.4);
    background: linear-gradient(hsl(var(--hsl-black)), hsla(var(--hsl-black), 0.4), hsl(var(--hsl-black)));
  }

  & * {
    z-index: 2;
  }

  & .fullname {
    font-size: var(--fz-25);
    color: hsl(var(--hsl-blue));
  }

  & .separator {
    border: solid 2px hsl(var(--hsl-blue));
    width: 50px;
    border-radius: 2px;
    margin: 20px 0;
  }

  & .description {
    font-weight: bold;
    max-width: 600px;
    text-align: center;
    padding: 20px;
  }

  & .social-media-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    & .social-media-item {
      padding: 0 20px;
      padding-top: 5px;
      border-left: solid 1px hsl(var(--hsl-white-dark));

      & a:hover {
        color: hsl(var(--hsl-blue));
      }

      &:nth-child(1) { border: none }
    }
  }

  @media #{$laptop} {
    & .fullname { font-size: var(--fz-35) }
  }
}

.home {
  margin-bottom: 40px;

  & .link {
    text-decoration: underline;
    transition: .3s;

    &:hover { color: hsl(var(--hsl-blue)) }
  }

  & .cards-container {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    row-gap: 40px;

    & .card {
      flex: 1;
      padding: 20px;
      text-align: center;
      background: hsl(var(--hsl-black-light));

      & .name {
        font-size: var(--fz-20);
        font-weight: bold;
      }

      & .details {
        margin-top: 10px;

        & span {
          color: hsl(var(--hsl-blue));
        }
      }
    }
  }

  & .subtitle {
    font-size: var(--fz-20);
  }

  & .blog-posts {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  & .blog-post {
    border-radius: 5px;
    overflow: hidden;
    flex: 1;
    background: hsl(var(--hsl-black-light));

    $cover-height: 200px;

    & .cover-container {
      position: relative;
      width: 100%;
      height: $cover-height;

      &:before {
        content: "Click To Read";
        align-content: center;
        text-align: center;
        font-weight: bold;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .5);
        opacity: 0;
        transition: opacity .3s;
      }

      &:hover:before {
        opacity: 1;
      }
    }

    & .cover {
      width: 100%;
      height: $cover-height;
      object-fit: cover;
    }

    & .title {
      display: inline-block;
      padding: 10px;
      transition: .3s;

      &:hover {
        color: hsl(var(--hsl-blue));
      }
    }
  }

  & .blog-posts-section {
    margin-top: 40px;
  }

  @media #{$laptop} {
    & .cards-container {
      column-gap: 40px;
      flex-direction: row;
    }

    & .blog-posts {
      flex-direction: row;
      column-gap: 20px;
    }

    & .blog-post {
      &:nth-child(3) { display: none; }
    }
  }

  @media #{$desktop} {
    & .blog-posts {
      column-gap: 40px;
    }

    & .blog-post:nth-child(3) {
      display: block;
    }
  }
}
