@use "@/styles/variables" as *;

.home {
  & .subtitle {
    font-size: var(--fz-20);
  }

  & .blog-posts {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  & .blog-post {
    border-radius: 5px;
    overflow: hidden;
    flex: 1;
    background: hsl(var(--hsl-black-light));

    $cover-height: 200px;

    & .cover-container {
      position: relative;
      width: 100%;
      height: $cover-height;

      &:before {
        content: "Click To Read";
        align-content: center;
        text-align: center;
        font-weight: bold;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .5);
        opacity: 0;
        transition: opacity .3s;
      }

      &:hover:before {
        opacity: 1;
      }
    }

    & .cover {
      width: 100%;
      height: $cover-height;
      object-fit: cover;
    }

    & .title {
      display: inline-block;
      padding: 10px;
      transition: .3s;

      &:hover {
        color: hsl(var(--hsl-blue));
      }
    }
  }


  @media #{$laptop} {
    & .blog-posts {
      flex-direction: row;
      column-gap: 20px;
    }

    & .blog-post {
      &:nth-child(3) { display: none; }
    }
  }

  @media #{$desktop} {
    & .blog-posts {
      column-gap: 40px;
    }

    & .blog-post:nth-child(3) {
      display: block;
    }
  }
}
