:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  --hsl-black-lighter: 230, 15%, 15%;
  --hsl-black-light: 235, 20%, 10%;
  --hsl-black: 240, 30%, 5%;

  --hsl-white: 245, 50%, 91%;
  --hsl-white-dark: 235, 40%, 75%;

  --hsl-blue: 221, 91%, 75%;
  --hsl-blue-darker: 221, 70%, 35%;
  --hsl-blue-darker-2: 221, 70%, 30%;

  --fz-14: 14px;
  --fz-16: 16px;
  --fz-20: 20px;
  --fz-25: 25px;
}

* {
  box-sizing: border-box;
}

body {
  background: hsl(var(--hsl-black));
  font-size: var(--fz-16);
  color: hsl(var(--hsl-white));
}

h1, h2, h3, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
