:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  --hsl-black: hsl(250, 50%, 4%);

  --fz-16: 16px;
  --fz-20: 20px;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--hsl-black);
  font-size: var(--fz-16);
}

h1, h2, h3, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
