.main-form {
  & .input-group {
    margin-top: 20px;

    & .label {
      color: var(--hsl-gray-light);
      font-size: 14px;
      font-weight: bold;
    }
  }

  & .btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
}
