.image-uploader {
  & .input {
    display: none;
  }

  & .label {
    cursor: pointer;
    display: block;
    padding: 10px;
    color: hsl(var(--hsl-blue));
    transition: color .3s;

    &:hover, &.loading {
      color: hsl(var(--hsl-blue-light));
    }

    &.loading {
      cursor: wait;
    }
  }

  & .images {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 0;
    padding: 0;

    & .image .button {
      border-radius: 10px;
      border: none;
      background: hsla(var(--hsl-blue), 0.2);
      width: fit-content;
      padding: 10px;
      color: hsl(var(--hsl-blue));
      transition: background .3s;

      &:hover {
        background: hsla(var(--hsl-blue), 0.4);
      }
    }
  }
}

.content-editor {
  margin-top: 20px;

  & .options {
    padding: 10px;
    width: 100%;

    & .option {
      padding: 10px 20px;
      margin-right: 10px;
      border: none;
      background: hsl(var(--hsl-black-light));
      border: solid 1px transparent;
      border-radius: 5px;

      &:hover {
        background: hsl(var(--hsl-black-lighter));
      }

      &.active {
        background: hsl(var(--hsl-black-lighter));
        border-color: hsl(var(--hsl-blue));
      }
    }
  }

  & .textarea {
    outline: 0;
    resize: none;
    width: 100%;
    height: 50vh;
    min-height: 300px;
    padding: 10px 20px;
    border: solid 1px transparent;
    background: hsl(var(--hsl-black-lighter));
    transition: border-color .3s;
    font-size: 14px;

    &:focus {
      border-color: hsl(var(--hsl-blue));
    }
  }

  & .preview-container {
    padding: 20px;
    background: hsl(var(--hsl-black));

    & :global(.code-block) {
      background: hsl(var(--hsl-black-light));
    }
  }
}

.main-form {
  & .input-group {
    margin-top: 20px;
  }

  & .btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
}
